$ide-base-background-color:rgb(60,63,65);
$ide-text-color:white;

$menu-background-color:rgb(60,63,64);
$menu-selection-color:rgb(56,143,248);

$menubar-background-color:rgb(65, 76, 94);
$menubar-normal-color:white;
$menubar-height:1em;

$directory-icon-color:#bd9662;
$tree-item-selected-background:rgb(13,41,62);
