@import "dark/dark";

$dialog-window-radius:5px;
.asm_menubar {
  background-color: $menubar-background-color;
}

.asm_menu{
  background-color: $menu-background-color;
  opacity: .8;
  li{
    padding-left: 1em;
    padding-right: 1em;
  }
  .disabled{
    color: grey;
  }
}

.asm_theme {

  .selected {
    background-color: $hover-background-color;
  }

  .border-radius{
    border-radius: $dialog-window-radius;
  }

  .dialog-container{
    box-shadow:4px 7px 10px black;
  }

}
.resize{
  .ns-resize{
    cursor: ns-resize;
  }
  .ew-resize{
    cursor: ew-resize;
  }
  .nwse-resize{
    cursor: nwse-resize;
  }
  .nesw-resize{
    cursor: nesw-resize;
  }
}

$dialog-base-background-color:$ide-base-background-color;

.dialog-title-bar {
  background-color: $dialog-base-background-color;
  height: 1em;
  min-height:1em;
}

.resize-anchor-top-left{
  border-radius: $dialog-window-radius 0 0 0;
}
.resize-anchor-top-right{
  border-radius: 0  $dialog-window-radius 0 0;
}
