@import "dark/dark";

.asm_menubar {
  background-color: $menubar-background-color;
}

.asm_menu{
  background-color: $menu-background-color;
  opacity: .8;
  li{
    padding-left: 1em;
    padding-right: 1em;
  }
  .disabled{
    color: grey;
  }
}

.asm_theme {

  .selected {
    background-color: $hover-background-color;
  }

}
