<div class="dialog-transparent-container">
  <div class="dialog-container asm_flex-column border-radius resize">
    <div class="resize-anchor-top asm_flex-row border-radius">
      <div class="resize-anchor-top-left border-radius nwse-resize"></div>
      <div class="resize-anchor-top-mid ns-resize"></div>
      <div class="resize-anchor-top-right border-radius nesw-resize"></div>
    </div>
    <div class="dialog-mid-row asm_flex-row asm_flex-grow">
      <div class="resize-anchor-mid-left ew-resize"></div>
      <div class="dialog-content-container asm_flex-grow"></div>
      <div class="resize-anchor-mid-right ew-resize"></div>
    </div>
    <div class="resize-anchor-bot asm_flex-row border-radius">
      <div class="resize-anchor-bot-left border-radius nesw-resize"></div>
      <div class="resize-anchor-bot-mid ns-resize"></div>
      <div class="resize-anchor-bot-right border-radius nwse-resize"></div>
    </div>
  </div>
</div>
