.dialog-transparent-container{
  position: absolute;
  height: 100vh;
  width:100vw;
  background-color: transparent;
}
.dialog-container{
  position: absolute;
  height:50vh;
  width: 50vw;
  top: 25vh;
  left:25vw;
  background-color: red;
}

.resize-anchor-top-right,.resize-anchor-bot-right,.resize-anchor-mid-right{
  margin-left: auto;
}

