<div class="asm_layout-container asm_flex-column asm_theme" (click)="onClick($event)">
  <div>
    <asm-dialog-widget [displayDialog]="displayDialog"
                       (dialogCanceled)="onDialogCanceled()">

    </asm-dialog-widget>
  </div>
  <asm-menubar [layoutClick]="isMenubarActive"></asm-menubar>
  <div class="asm_layout-main asm_flex-grow">
    <div style="width: 300px;">
      <asm-file-tree-widget></asm-file-tree-widget>
    </div>

  </div>
  <h3 (click)="showDialog()">show dialog</h3>
</div>
